* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

#loginKnop {
    width: 50px;
    float: right;
}

#loginInfo {
    margin-right: 50px;
    margin-top: 16px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

div.imageholder {
    position: absolute;
    height: 100px;
    width: 100px;
    float: left;
    border: 1px solid black;
}

#loginKnop {
    width: 50px;
    float: right;
}

/*Footer*/

/**
 * Demo Styles
 */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

.demo h1 {
    margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/*Colour theme*/
.w3-theme-l5 {
    color: #000 !important;
    background-color: #fbf3f2 !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #f3d6d4 !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #e7ada9 !important
}

.w3-theme-l2 {
    color: #fff !important;
    background-color: #db847d !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #d05a52 !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #a6352d !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #932f28 !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #812a23 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #6e241e !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #5c1e19 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #fbf3f2 !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #5c1e19 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #5c1e19 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #b93a32 !important
}

.w3-text-theme {
    color: #b93a32 !important
}

.w3-border-theme {
    border-color: #b93a32 !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #b93a32 !important
}

.w3-hover-text-theme:hover {
    color: #b93a32 !important
}

.w3-hover-border-theme:hover {
    border-color: #b93a32 !important
}